<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.bookfinder">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".BookListActivity"
            android:label="@string/label_booklist"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".BookDetailsActivity"
            android:label="@string/label_booklist"
            android:parentActivityName=".BookListActivity">
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/label_book_setting"
                  android:theme="@style/PreferencesTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bookfinder.BookListActivity"/>
        </activity>
    </application>

</manifest>